<style type="text/css">
  .filtercolumn{
    border: 2px solid #d8920c;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;

  }
  #panelhead{
    text-align: center;
    padding-top: 4px;
    background: #d8920c;
    color: white;
        height: 30px;
  }
  .filterbrand span{
    font-weight: bold;
  }
  #slider-container {
    width:350px;
    margin-left:30px;
}
 .collection-listing .product-block
 {
    float: left;
    width: 252px;
 }
.out-of-stock{
        z-index: 1 !important;
    background: black !important;
    color: #fff !important;
    display: block !important;
    /* border-bottom-right-radius: 15px !important; */
    position: absolute;
    z-index: 999;
    text-align: center;
    /* border-bottom-left-radius: 15px !important; */
    width: 41% !important;
    margin-left: 59% !important;
    margin-right: auto !important;
    margin-top: 5%;
    padding-top: 4px;
    padding-bottom: 4px !important;
    font-weight: 500;
    /* font-size: 11px !important; */
}
.soldout{
  font-size: 10px !important;
}
@media only screen and ( device-width: 360px ) and ( device-height:640px){
  .cartmobiconiphone6 {
    margin-top: 11% !important;
}
}
 