#logo{
	height: 200px;
}
#logoblock{
	text-align: center;
	font-weight: bolder;
}
#logoblock p {
	    color: grey;
    font-weight: 300;
    font-size: 17px;
}
#recieptdiv{
	background-color: #dc9f2a;
	    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 12px;

}
#recieptdiv span { color: white; }
#recieptdiv h1{ color: white; }
#downloadbtn{
	    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: xx-large;
}
#paidwith{
	/*text-align: center;*/
	text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
#feedbacksection{
	background-color: #212121;
    color: white;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 20px;
}
#socialsection{
	background-color: #eaeaea;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#socialpara2{
	margin-top: 20px;
	margin-bottom: 20px;
}
#foot{
	    background-color: #212121;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 90px;

}
.prodblock {
	    text-align: center;
    font-size: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.leftfl{
	float: left;
	margin-right: 15px;
}
.textbol{
	font-weight: bolder;
}
.feedsmiley{
	height: 40px;
	margin-right: 15px;
}
#recieptdiv2{
	    padding: 40px;
	text-align: center;
    /* margin: 28px; */
    background: black;
    color: white;
}
.ta{
	font-size: 14px;
}
.paras{ font-size: 17px; font-weight: 300; }

#col9{
	    padding: 0 20px 20px;
    font-family: 'Open Sans',Verdana,Tahoma,sans-serif;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    color: #ffffff;
        padding-top: 15px;
    text-align: left;
    word-break: break-word;
    background-color: black;
}
footer {
        font-size: 14px;
    padding-right: 10px;
    padding-left: 20px;
    /* bottom: 0; */
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    /* height: 60px; */
    color: white;
    /* height: 60px; */
    background-color: #212121;
}
body{ font-family: 'Open Sans',Verdana,Tahoma,sans-serif;
    ;
        font-family: 'Open Sans',Verdana,Tahoma,sans-serif;
    font-size: 22px;
    line-height: 1.3;
   
    font-weight: 500;
    word-break: break-word;
 }
 .forps{
margin-top: 10px;
    font-size: 18px;
 }
 #like{
 	text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    background: #f1f1f1;
    padding-bottom: 20px;

 }
 td{ text-align: center; }
 th{ text-align: center; }
td:first-Child{ width: 40%; }
 @media screen and (max-width:  580px) {
    body {
        font-size: 14px;
    }
    #logoblock p{
    	    margin: 60px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    }
    #logo{ 
    	margin-top: 20px !important;
     }
    /* #pd1{ width: 100% }*/
    button{
    	width: 86% !important;
    	margin: 15px !important;
    }
}