html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.cf:before,.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

input::-moz-focus-inner,button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,input[type=submit],input[type=button] {
  -webkit-appearance: none;
}

input:focus,select:focus,textarea:focus {
  outline: none;
}

strong,b {
  font-weight: bold;
}

abbr,acronym {
  border-bottom: 1px dotted #636465;
  cursor: help;
}

em,i {
  font-style: italic;
}

ul,ol,dl {
  margin: 1em;
  font-size: 100%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  margin: 1.5em 0em 1.5em 10px;
  padding: .5em 0em;
  quotes: "\201C" "\201D";
  font-size: 130%;
  font-style: italic;
  line-height: 100%;
}

blockquote:before {
  color: #636465;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  margin-left: -20px;
  margin-right: 10px;
  vertical-align: -0.48em;
}

blockquote :first-child {
  display: inline;
}

blockquote :last-child {
  margin-bottom: 0;
}

blockquote:after {
  content: no-close-quote;
}

ol,ul,dl {
  margin-left: 2em;
}

ol li {
  list-style: decimal outside;
}

ul li {
  list-style: disc outside;
}

dl dd {
  margin-left: 1em;
}

th,td {
  border-bottom: 1px solid #d9d9d2;
  border-collapse: collapse;
  border-top: 1px solid #d9d9d2;
  padding: 0.7em;
}

th {
  font-weight: bold;
  text-align: left;
  border-bottom-width: 3px;
}

caption {
  margin-bottom: .5em;
  text-align: center;
}

p,fieldset,table {
  margin-bottom: 1em;
}

hr {
  border: none;
  width: 100%;
  color: transparent;
  border-bottom: 3px double #d9d9d2;
  height: 9px;
  margin: 1em 0;
}

body,input,textarea,select option {
  font-family: Lato;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lato;
}

#pageheader .logotext,#shoplogo .logotext {
  font-family: Lato;
}

.nav-row {
  font-family: Lato;
}

#pageheader .search-box input[type="text"],.signup-form input[type="email"],input[type="submit"],button,label,#cart-summary-overlay,#pageheader .utils,#pageheader .search-box,.page-header .filters,.tags,#pagefooter {
  font-family: Lato;
}

body {
  font-size: 15px;
  line-height: 1.6em;
  color: #636465;
  background: #ffffff;
  letter-spacing: 1px;
  overflow-y: scroll;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #3d4c4f;
  color: #ffffff;
}

::-moz-selection {
  background: #3d4c4f;
  color: #ffffff;
}

a,a:link,a:visited {
  color: #3d4c4f;
  -moz-transition: color 100ms;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  text-decoration: none;
}

a:hover {
  color: #d8920c;
}

select {
  max-width: 100%;
}

input,textarea {
  font-size: 15px;
  line-height: 15px;
  background-color: #ffffff;
  color: #636465;
  border: 1px solid #e7e7e1;
  padding: 11px 15px;
  margin: 0;
  vertical-align: middle;
  max-width: 100%;
  letter-spacing: 1px;
}

input[type=checkbox] {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

textarea {
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #636465;
  font-size: 85%;
}

:-moz-placeholder {
  text-transform: uppercase;
  color: #636465;
  font-size: 85%;
}

::-moz-placeholder {
  text-transform: uppercase;
  color: #636465;
  font-size: 85%;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  color: #636465;
  font-size: 85%;
}

.button,a.button,button,input[type="submit"],input[type="reset"],input[type="button"] {
  background: #464e54;
  border: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  height: auto;
  margin: 0;
  text-decoration: none !important;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 15px 14px;
  vertical-align: middle;
  min-width: 120px;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: background-color 100ms, color 100ms, border-color 100ms;
  -webkit-transition: background-color 100ms, color 100ms, border-color 100ms;
  transition: background-color 100ms, color 100ms, border-color 100ms;
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: 1px;
}

.button.compact,button.compact,input[type="submit"].compact,input[type="reset"].compact,input[type="button"].compact {
  width: auto;
  min-width: 0;
}

.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover {
  background: #d8920c;
}

.button.altcolour,button.altcolour,input[type="submit"].altcolour,input[type="reset"].altcolour,input[type="button"].altcolour {
  background: #ffffff;
  color: #464e54;
}

.button.altaltcolour,button.altaltcolour,input[type="submit"].altaltcolour {
  background: #d8920c;
}

.button.altaltcolour:hover,button.altaltcolour:hover,input[type="submit"].altaltcolour:hover {
  background: #464e54;
}

.button.notabutton,a.button.notabutton,button.notabutton,input[type="submit"].notabutton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: none;
  vertical-align: baseline;
  min-width: 0;
  overflow: visible;
  height: auto;
  color: #3d4c4f;
  -moz-transition: color 100ms;
  -webkit-transition: color 100ms;
  transition: color 100ms;
}

.button.notabutton:hover,a.button.notabutton:hover,button.notabutton:hover,input[type="submit"].notabutton:hover {
  color: #d8920c;
}

.button.disabled,a.button.disabled,button[disabled],input[type="submit"][disabled],input[type="reset"][disabled],input[type="button"][disabled] {
  background: #999 !important;
}

h1,h2,h3,h4,h5,h6 {
  color: #3d4c4f;
  font-weight: normal;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,h1 a:link,h2 a:link,h3 a:link,h4 a:link,h5 a:link,h6 a:link,h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
  color: #d8920c;
}

h1,h2.h1-style {
  font-size: 42px;
}

h2,h1.h2-style,h2.h2-style,h3.h2-style,h4.h2-style,h5.h2-style,h6.h2-style {
  font-size: 35px;
}

h3,h1.h3-style,h2.h3-style,h3.h3-style,h4.h3-style,h5.h3-style,h6.h3-style {
  font-size: 31px;
}

h4,h1.h4-style,h2.h4-style,h3.h4-style,h4.h4-style,h5.h4-style,h6.h4-style {
  font-size: 27px;
}

h5,h1.h5-style,h2.h5-style,h3.h5-style,h4.h5-style,h5.h5-style,h6.h5-style {
  font-size: 23px;
}

h6,h1.h6-style,h2.h6-style,h3.h6-style,h4.h6-style,h5.h6-style,h6.h6-style {
  font-size: 19px;
}

h1.majortitle,h2.title,h2.majortitle,h3.majortitle,h4.majortitle,h5.majortitle,h6.majortitle,.majortitle {
  margin: 10px 0;
}

h1.hometitle,h2.hometitle,h3.hometitle,.hometitle {
  line-height: 1em;
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

#pageheader ul,#pageheader li {
  margin: 0;
  padding: 0;
  display: inline;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.container .container {
  padding-left: 0;
  padding-right: 0;
}

.flexslider .container {
  padding-left: 40px;
  padding-right: 40px;
}

#content {
  background: #ffffff;
  background-repeat: repeat;
  padding-bottom: 60px;
}

.template-index #content {
  padding-bottom: 0;
}

#mobile-header {
  display: none;
  text-align: right;
  background: #ffffff;
  color: #3d4c4f;
  border-bottom: 1px solid #d9d9d4;
  font-size: 15px;
  line-height: 32px;
  background: #d8920c;
      padding-top: 3%;
}

#mobile-header a {
  color: inherit;
}

#mobile-header .mobile-nav-toggle {
  text-transform: uppercase;
  float: left;
  position: relative;
  padding: 0 1em 0 2em;
      width: 45%;
}

#mobile-header .mobile-nav-toggle span {
  position: absolute;
  background: #fff;
  left: 0.5em;
  width: 1em;
  height: 3px;
  top: 0;
  margin-top: 9px;
}

#mobile-header .mobile-nav-toggle span:nth-child(1) {
  top: 5px;
}

#mobile-header .mobile-nav-toggle span:nth-child(2) {
  top: 10px;
}

#mobile-nav-return {
  z-index: 7000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 250ms;
}

#main-nav .mobile-features {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#main-nav .mobile-features .mobile-nav-toggle {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 200px;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  transition: opacity 500ms, left 500ms;
}

#main-nav .mobile-features .mobile-search input[type=text] {
  box-sizing: border-box;
  width: 100%;
  border: none;
  height: 40px;
}

#main-nav .mobile-features .mobile-search input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
}

#pageheader {
  position: relative;
  background: #ffffff;
  z-index: 4000;
}

#pageheader,#pageheader a {
  color: #3d4c4f;
}

#pageheader .logo {
  text-align: center;
  padding: 10px 0 10px;
  letter-spacing: 1px;
}

#pageheader .logo a {
  color: #3d4c4f;
}

#pageheader .logo img {
  vertical-align: top;
}

#pageheader .logo .logotext {
  font-size: 22px;
  line-height: 1em;
}

#pageheader .search-box,#pageheader .utils {
  position: absolute;
  top: 50%;
}

#pageheader .logo-pos-below .search-box,#pageheader .logo-pos-below .utils,#pageheader .logo-pos-above .search-box,#pageheader .logo-pos-above .utils {
  top: 0;
  margin-top: 0;
}

#pageheader .search-box {
  left: 30px;
  margin-top: -15px;
}

#pageheader .search-box .search-form {
  border: 1px solid transparent;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#pageheader .search-box.focus .search-form {
  background-color: #fff;
  border-color: #dedede;
}

#pageheader .search-box .search-form i {
  width: 22px;
  height: 22px;
  background: url("social_spr_darkgreyeb2f.png?8813992248417522258") -221px center no-repeat;
  top: 7px;
  left: 2px;
  position: absolute;
  z-index: 1;
}

#pageheader .search-box.focus .search-form i {
  background-image: url("social_spr_darkgreyeb2f.png?8813992248417522258");
}

#pageheader .search-box .search-form input[type="text"] {
  border: none;
  background: transparent;
  padding: 11px 10px 11px 26px;
  width: 210px;
  font-size: 12px;
  color: #3d4c4f;
}

#pageheader .search-box.focus .search-form input[type="text"] {
  color: #666;
}

#pageheader .search-box .search-form input[type="text"]::-webkit-input-placeholder {
  color: #3d4c4f;
  opacity: 1;
}

#pageheader .search-box .search-form input[type="text"]:-moz-placeholder {
  color: #3d4c4f;
  opacity: 1;
}

#pageheader .search-box .search-form input[type="text"]::-moz-placeholder {
  color: #3d4c4f;
  opacity: 1;
}

#pageheader .search-box .search-form input[type="text"]:-ms-input-placeholder {
  color: #3d4c4f;
  opacity: 1;
}

#pageheader .search-box .search-form input[type="submit"] {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  right: 8px;
  background: transparent;
  color: #636465;
  border: none;
  width: 20px;
  min-width: 0;
  height: 25px;
  padding: 5px 0;
  line-height: 2px;
  font-size: 100%;
}

#pageheader .search-box.focus .search-form input[type="submit"] {
  opacity: 1;
  filter: alpha(opacity=100);
}

#pageheader .search-box .results-box {
  position: absolute;
  background: #fff;
  color: #333;
  width: 300px;
  max-width: 100%;
  z-index: 5000;
}

#pageheader .search-box .results-box a,#pageheader .search-box .results-box a:hover {
  color: inherit;
}

#pageheader .search-box .results-box>* {
  display: block;
  padding: 7px 2px;
  margin: 0;
  border-bottom: 1px solid #d9d9d2;
  border-left: 1px solid #d9d9d2;
  border-right: 1px solid #d9d9d2;
  min-height: 24px;
}

#pageheader .search-box .results-box>*:first-child {
  border-top: 1px solid #d9d9d2;
}

#pageheader .search-box .results-box .img {
  float: left;
  margin: -4px 10px 0 0;
  width: 32px;
  height: 32px;
  text-align: center;
  overflow: hidden;
}

#pageheader .search-box .results-box .img img {
  vertical-align: middle;
  margin-top: -2px;
}

#pageheader .search-box .results-box .load {
  background: url("ajax-loadeb2f.gif?8813992248417522258") center center no-repeat;
  text-align: center;
}

#pageheader .search-box .results-box .note {
  text-align: center;
  background: #464e54;
  border: #464e54;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

#pageheader .utils {
  right: 30px;
  height: 44px;
  line-height: 40px;
  margin-top: -18px;
  text-transform: uppercase;
  font-size: 12px;
}

#pageheader .utils .social-links,#pageheader .utils .cart-summary {
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#pageheader .utils .social-links {
  margin-right: 30px;
}

#pageheader .utils .cart-summary {
  text-align: right;
}

#pageheader .utils .cart-summary .switcher {
  margin-left: 3px;
  display: inline;
  vertical-align: middle;
  position: relative;
}

#pageheader .utils .cart-summary .switcher .selected-currency {
  padding: 4px 5px;
  border: 1px solid #d9d9d4;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#pageheader .utils .cart-summary .switcher .switcher-drop {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 50;
}

#pageheader .utils .cart-summary .switcher .switcher-drop .inner {
  margin-top: 1.3em;
  line-height: 1em;
  padding: 8px 20px 6px;
  border: 1px solid #dedede;
  background: #fff;
  color: #444;
  white-space: nowrap;
}

#pageheader .utils .cart-summary .switcher .switcher-drop .inner:before {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #dedede transparent;
  position: absolute;
  top: 1.3em;
  right: 15px;
  margin-top: -5px;
}

#pageheader .utils .cart-summary .switcher .switcher-drop .inner:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 1.3em;
  right: 15px;
  margin-top: -4px;
}

#pageheader .utils .cart-summary .switcher.show-drop .switcher-drop,#pageheader .utils .cart-summary .switcher:hover .switcher-drop {
  display: block;
  -webkit-animation: reveal 0.2s ease-out 0s 1 normal none;
  animation: reveal 0.2s ease-out 0s 1 normal none;
}

#pageheader .utils .cart-summary .button {
  min-width: 0;
  padding: 8px 15px;
  vertical-align: middle;
  color: #ffffff;
}

#pageheader .util-area .signup-reveal-area {
  display: inline;
  position: relative;
}

#pageheader .util-area .signup-reveal {
  text-transform: uppercase;
  font-size: 12px;
}

#pageheader .util-area .signup-form-cont {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 50;
}

#pageheader .util-area .signup-reveal-area.show-drop .signup-form-cont,#pageheader .util-area .signup-reveal-area:hover .signup-form-cont {
  display: block;
  -webkit-animation: reveal 0.2s ease-out 0s 1 normal none;
  animation: reveal 0.2s ease-out 0s 1 normal none;
}

#pageheader .util-area .signup-form-cont .signup-form {
  margin-top: 1.3em;
}

#pageheader .util-area .signup-form-cont .signup-form:before {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #dedede transparent;
  position: absolute;
  top: 1.3em;
  left: 15px;
  margin-top: -5px;
}

#pageheader .util-area .signup-form-cont .signup-form:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 1.3em;
  left: 15px;
  margin-top: -4px;
}

#pageheader .util-area .signup-form {
  background-color: #fff;
  border-color: #dedede;
}

#pageheader .util-area .signup-form * {
  color: #444;
  background: transparent;
}

#pageheader .util-area .signup-form input::-webkit-input-placeholder {
  color: #444;
}

#pageheader .util-area .signup-form input:-moz-placeholder {
  color: #444;
}

#pageheader .util-area .signup-form input::-moz-placeholder {
  color: #444;
}

#pageheader .util-area .signup-form input:-ms-input-placeholder {
  color: #444;
}

#pageheader .util-area .signup-form label {
  display: none;
}

.nav-row {
  text-align: center;
  line-height: 2.5em;
  font-size: 14px;
}

.nav-row .multi-level-nav>div {
  padding: 5px 0;
}

.nav-row .tier-1 {
  text-transform: uppercase;
}

.nav-row ul {
  margin: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.nav-row ul li {
  vertical-align: top;
  margin: 0;
  display: inline-block;
  zoom: 1;
  margin-top: 1.5%;
}

.nav-row a {
  padding: 10px 7px;
  white-space: nowrap;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.nav-row a.expanded,.nav-row li.active>a {
  color: #d8920c;
}

.nav-row a .exp {
  margin-left: 5px;
  width: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.nav-row a.listing-title {
  font-weight: bold;
}

.nav-row .slash {
  padding: 10px 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.nav-row ul ul {
  display: none;
}

.nav-row ul ul.listed {
  display: block;
  padding-bottom: 10px;
}

.nav-row .tier-1 ul ul.listed {
  display: none;
}

.nav-row ul ul.listed>li {
  display: block;
}

.nav-row ul ul.listed>li>a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1em;
}

.tags.nav-row {
  border-top: 1px solid #d9d9d2;
  border-bottom: 1px solid #d9d9d2;
  padding: 15px;
  text-transform: capitalize;
}

.tags .active a {
  color: #e94b3f;
}

.tags .active a .x {
  position: relative;
  top: 2px;
  font-weight: bold;
  font-size: 150%;
  line-height: 75%;
  margin: 0 0 0 5px;
}

.multi-tag-row {
  margin-bottom: 10px;
}

.multi-tag-row .tags.nav-row {
  margin-top: -1px;
}

.multi-tag-row .tags.nav-row.height-hidden {
  display: block;
  height: 0;
  overflow: hidden;
  border: none;
  padding: 0;
}

#main-nav {
  border-bottom: 1px solid #d9d9d2;
}

#main-nav .multi-level-nav>div {
  border-top: 1px solid #d9d9d4;
  background: #d9d9ce;
}

#main-nav .multi-level-nav .tier-1 {
  background: #fff;
}

#main-nav .multi-level-nav .tier-2 {
  background: #3d4c4f;
}

#main-nav a {
      color: #000;
    font-weight: 800;
}
#main-nav li.active>a
{
	border-bottom: 2px #d8920c solid;
}
#main-nav a.expanded,#main-nav li.active>a,#main-nav a:hover,#main-nav .account-links a:hover {
      color: #d8920c;
    font-weight: 800;
    
}

#main-nav .account-links {
  padding: 0 18px;
  color: #ffffff;
  white-space: nowrap;
}

#main-nav .account-links a {
  padding-left: 0;
  padding-right: 0;
  color: #ffffff;
}

#store-messages .message {
  position: relative;
  text-align: center;
  padding: 12px 0 16px;
}

#store-messages.messages-2 .message {
  float: left;
  width: 49.5%;
}

#store-messages.messages-3 .message {
  float: left;
  width: 33.33%;
}

#store-messages .message a {
  display: block;
}

#store-messages .message .title,#store-messages .message .tagline {
  margin: 0 20px;
}

#store-messages .message .title {
  line-height: 1.3em;
  font-size: 16px;
  color: #3d4c4f;
}

#store-messages .message .tagline {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  line-height: 1.4em;
  margin-top: 5px;
  color: #8a8f93;
}

#store-messages .message .fluff {
  border-left: 1px solid #d9d9d2;
  width: 1px;
  position: absolute;
  left: 0;
  top: 20px;
  height: 28px;
}

.page-header {
  text-align: center;
  padding: 20px 0 20px;
}

.page-header .pagetitle {
  margin-bottom: 20px;
}

.page-header .user-content {
  text-align: left;
}

.page-header .filters {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0;
}

.page-header .social-area {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0;
}

.page-header .social-area .rsslink,.page-header .social-area .social {
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.page-header .social-area .rsslink img {
  height: 28px;
  width: 28px;
  margin-left: 10px;
}

.page-header .filters .tags {
  margin-right: 25px;
  white-space: nowrap;
  float: left;
}

.page-header .filters .sort select {
  text-transform: none;
  letter-spacing: 0;
}

.pagination-row {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  text-transform: uppercase;
  font-size: 12px;
}

.pagination .pagecount {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0 5px;
  margin: 0 2px;
}

#pagefooter {
  padding: 0 0 50px;
  font-size: 12px;
  text-transform: uppercase;
}

#pagefooter .image-links {
  background: #d8920c;
  padding: 25px 0;
  border-top: 1px solid #d9d9d2;
}

#pagefooter .image-links .image-link {
  width: 31.4%;
  float: left;
  text-align: center;
}

#pagefooter .image-links .image-link.block-1 {
  margin-left: 1.4%;
}

#pagefooter .image-links .image-link.block-2 {
  margin: 0 1.4%;
}

#pagefooter .image-links .image-link.block-3 {
  margin-right: 1.4%;
}

#pagefooter .image-links .image-link img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

#pagefooter .nav-row {
  background: #d8920c;
  border-top: 1px solid #d9d9d2;
  border-bottom: 1px solid #d9d9d2;
}

#pagefooter .nav-row a {
  color: #ffffff;
}

#pagefooter .lower {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#pagefooter .copyright {
  margin-top: 30px;
}

#pagefooter .copyright .copy {
  white-space: nowrap;
}

#pagefooter .copyright img {
  vertical-align: middle;
  margin-right: 20px;
}

#pagefooter .interact {
  margin-top: 30px;
}

#pagefooter .interact .social-links {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

#pagefooter .social-links ul {
  margin-left: 0em;
}

#pagefooter .payment-methods {
  margin-top: 20px;
}

.signup-form-cont {
  text-align: center;
  clear: both;
  white-space: nowrap;
}

.signup-form {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.signup-form {
  border: 1px solid #e7e7e1;
  background-color: #ffffff;
}

.signup-form label {
  font-size: 12px;
  line-height: 12px;
  padding: 0 25px;
  border-right: 1px solid #e7e7e1;
  vertical-align: middle;
  text-transform: uppercase;
}

.signup-form input[type="email"] {
  border: none;
  text-align: center;
  font-size: 12px;
}

.signup-form h4 {
  margin: 0.6em 2em;
}

.social-links li {
  list-style: none;
  display: inline;
}
.social-links
{
	    float: right;
    padding-right: 5%;
    margin-top: 2%;
}

.social-links a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 0;
  text-indent: -999em;
  vertical-align: middle;
  width: 9px;
  padding-top: 22px;
  background: url("../images/social_spr_darkgrey.png") 0 0 no-repeat;
}

.social-links a:hover {
  opacity: 0.8;
}

.social-links .twitter a {
  background-position: -22px 0;
}

.social-links .rss a {
  background-position: -44px 0;
}

.social-links .pinterest a {
  background-position: -66px 0;
}

.social-links .google a {
  background-position: -88px 0;
}

.social-links .instagram a {
  background-position: -110px 0;
}

.social-links .vimeo a {
  background-position: -132px 0;
}

.social-links .youtube a {
  background-position: -154px 0;
}

.social-links .flickr a {
  background-position: -176px 0;
}

.social-links .tumblr a {
  background-position: -198px 0;
}

.multi-tag-row .social {
  text-align: right;
}

.social .socitem {
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.social .socitem.label {
  margin: -2px 10px 0 0;
}

.product-block {
  text-align: center;
}

.product-block .block-inner {
  height: 412px;
  position: relative;
}

.product-block .image-cont {
  position: relative;
  max-height: 320px;
  opacity: 0;
  padding-bottom: 92px;
}

.no-js .product-block .image-cont {
  opacity: 1;
}

.product-block .image-cont img {
  max-height: 320px;
  width: auto;
}

.product-block .image-cont .image-link {
  display: block;
  position: relative;
}

.product-block .productlabel {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
}

.productlabel>span {
  padding: 10px 20px;
  background: #f08035;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.2em;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.productlabel.soldout>span {
  background: #464e54;
}

.productlabel.general>span {
  background: #f08035;
}

.product-block .hover-info {
  position: absolute;
  color: inherit;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.product-block .hover-info .bg {
  background: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 1500ms;
  transition: opacity 150ms;
}

.product-block .hover-info>.inner {
  width: 100%;
  position: relative;
  z-index: 10;
}

.product-block .hover-info>.inner {
  min-height: 82px;
}

.product-block .hover-info .title {
  margin: 0 5px;
}

.ie7 .product-block .hover-info>.inner>.innerer {
  display: block;
}

.product-block .hover-info .reducedfrom {
  font-style: italic;
  opacity: 0.7;
  margin: 0 5px;
  display: inline;
}

.product-block .hover-info .reducedfrom .amount {
  text-decoration: line-through;
}

.product-block .hover-info .price {
  margin: 0 5px;
}

.product-block .hover-info .price .from {
  font-size: 80%;
}

.product-block.expanded .block-inner:after {
  top: 412px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #e7e7e1;
  border-width: 15px;
  left: 50%;
  margin: -9px 0 0 -15px;
}

.product-block.collection-block .productlabel {
  margin-top: -30px;
}

.product-block.collection-block .productlabel>span {
  background: #464e54;
  color: #ffffff;
  -moz-transition: background-color 100ms;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}

.product-block.collection-block:hover .productlabel>span {
  background: #d8920c;
}

.product-block.collection-block .productlabel .count {
  text-transform: none;
  font-style: italic;
  display: block;
}

.product-block.collection-block .image-cont {
  padding-bottom: 0;
}

.collection-slider-row.is-showing-collections {
  background: #f5f5f2;
}

.collection-slider-row.is-showing-collections .collection-listing {
  height: 330px;
}

.product-block.page-block .block-inner {
  border: 1px solid #000;
  width: 300px;
  overflow: hidden;
}

.product-block.page-block .block-inner .text-cont {
  padding: 20px;
  overflow: hidden;
  text-align: left;
}

.product-block.placeholder {
  border: none !important;
  height: 0px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: none;
}

.product-detail .gallery {
  position: relative;
}

.product-detail .gallery img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: top;
}

.product-detail .gallery .main-image {
  margin: 0 0 20px 0;
  text-align: center;
}

.product-detail .gallery .thumbnails img {
  max-width: 75px;
}

.product-detail .detail {
  text-align: left;
  position: relative;
}

.product-detail .detail .title {
  margin: 0 0 0.5em;
}

.product-detail .detail .price .was-price {
  font-size: 15px;
  margin-right: 15px;
  text-decoration: line-through;
}

.product-detail .detail .productlabel {
  position: static;
  float: right;
  margin: 0 0 10px 10px;
}

.product-detail .detail .description {
  margin: 50px 0;
}

.product-detail .description {
  clear: both;
}

.product-detail .product-form .input-row {
  margin: 20px 0;
  clear: both;
}

.product-detail .product-form .input-row label {
  float: left;
  width: 80px;
  margin-bottom: 10px;
}

.product-detail .product-form .input-row label.singleopt {
  float: none;
  width: auto;
}

.product-detail .product-form .input-row label[for="quantity"] {
  margin-top: 8px;
}

.product-detail .product-form .input-row .selector-wrapper {
  clear: both;
}

.product-detail .product-form .input-row .inline-option .selector-wrapper {
  clear: none;
  display: inline;
}

.product-detail .product-form .input-row select {
  min-width: 70px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 4px;
  border: 1px solid #d9d9d2;
  -webkit-appearance: menulist-button;
}

.collection-listing .product-detail {
  background: #e7e7e1;
  overflow: hidden;
  position: relative;
  line-height: 1.6em;
}

.collection-listing .product-detail .inner {
  padding: 50px 90px;
}

.collection-listing-stream .product-detail .gallery .thumbnails,.collection-listing .product-detail .gallery .thumbnails {
  position: static;
}

.collection-listing-stream .product-detail .gallery .thumbnails>*,.collection-listing .product-detail .gallery .thumbnails>* {
  display: inline;
  margin: 0;
}

.collection-listing-stream .product-detail .gallery .thumbnails .active span,.collection-listing .product-detail .gallery .thumbnails .active span {
  text-decoration: underline;
}

.collection-listing .product-detail,.collection-listing .product-detail .title,.collection-listing .product-detail .title a,.collection-listing .product-detail h1.majortitle,.collection-listing .product-detail h2,.collection-listing .product-detail h3,.collection-listing .product-detail h4,.collection-listing .product-detail h5,.collection-listing .product-detail h6 {
  color: #3d4c4f;
}

.collection-listing .product-detail a {
  color: #f06435;
}

.collection-listing .product-detail a.button {
  background-color: #f06435;
  color: #fff;
}

.collection-listing .product-detail a.button:hover {
  background-color: #f06435;
}

.collection-listing .product-detail .gallery .main-image,.collection-listing-stream .product-detail .gallery .main-image {
  margin-right: 0;
}

.product-detail .close-detail {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent url("close-bg-darkeb2f.png?8813992248417522258") center center no-repeat;
  text-indent: -999em;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.collection-slider-row {
  padding-top: 40px;
}

.collection-slider-1 {
  background: #f5f5f2;
}

.collection-slider-2 {
  background: #f5f5f2;
}

.collection-slider-3 {
  background: #f5f5f2;
}

.collection-slider .collection-listing {
  overflow: hidden;
  position: relative;
  height: 422px;
}

.collection-slider .collection-listing .product-block {
  height: auto;
  padding: 10px 10px 20px;
  position: relative;
}

.collection-slider .collection-listing .product-block .block-inner {
  height: auto;
  position: static;
}

.collection-slider .collection-listing .product-block .block-inner .image-cont {
  max-height: none;
}

.collection-slider .collection-listing .product-block .block-inner .image-cont img {
  max-height: 300px;
}

.collection-slider .collection-listing .product-block .product-detail {
  display: none;
}

.collection-slider-row .collection-listing .product-detail {
  position: relative;
  height: auto;
  margin-top: 0;
}

.collection-slider .product-block.expanded .block-inner:after {
  top: auto;
  bottom: 0;
  z-index: 10;
}

.collection-listing {
  text-align: center;
  line-height: 0;
}

.collection-listing .product-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 412px;
  padding: 10px 8px;
  vertical-align: top;
  line-height: 1.6em;
}

.collection-listing .product-block .image-cont img {
  max-height: 320px;
  vertical-align: top;
}

.collection-listing .product-detail {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 0;
  margin-top: 20px;
}

.collection-listing-stream .block-inner {
  display: none;
}

.collection-listing-stream .product-detail {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d9d9d2;
}

.collection-listing-stream .product-block:first-child .product-detail {
  border-top: none;
}

.collection-listing-stream .product-detail .close-detail {
  display: none;
}

.view-all {
  text-align: center;
  font-size: 80%;
  line-height: 1em;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.view-all>* {
  vertical-align: middle;
}

.view-all .prev,.view-all .next {
  margin: 0 40px;
  font-size: 140%;
}

.collection-slider .has-paging .prev,.collection-slider .has-paging .next {
  font-size: 80%;
  margin: 0 30px;
  vertical-align: top;
}

.collection-slider.no-pages .prev,.collection-slider.no-pages .next {
  display: none;
}

.view-as {
  white-space: nowrap;
  display: inline-block;
}

.view-as-label {
  text-transform: uppercase;
}

#view-as-tiles,#view-as-stream {
  padding-left: 25px;
  position: relative;
  margin-left: 15px;
}

#view-as-tiles div,#view-as-stream div {
  background: #3d4c4f;
  position: absolute;
  -moz-transition: background-color 100ms;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}

#view-as-tiles.active,#view-as-stream.active {
  color: #d8920c;
}

#view-as-tiles.active div,#view-as-stream.active div {
  background: #d8920c;
  position: absolute;
}

#view-as-tiles:hover div,#view-as-stream:hover div {
  background: #d8920c;
}

#view-as-tiles div {
  height: 6px;
  width: 6px;
}

#view-as-tiles .fluff1 {
  left: 0;
  top: 0;
}

#view-as-tiles .fluff2 {
  left: 8px;
  top: 0;
}

#view-as-tiles .fluff3 {
  left: 0;
  top: 8px;
}

#view-as-tiles .fluff4 {
  left: 8px;
  top: 8px;
}

#view-as-stream .fluff {
  left: 0;
  top: 0;
  height: 14px;
  width: 14px;
}

.article-list .article {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #d9d9d2;
}

.article-list .article:first-child {
  border-top: none;
  padding-top: 20px;
}

.article .container,#comments.container {
  max-width: 800px;
}

.article .continue-reading {
  letter-spacing: normal;
  margin-bottom: 1em;
}

.article .meta {
  font-style: italic;
  letter-spacing: normal;
}

.article .meta .time {
  display: block;
  opacity: 0.9;
}

.article .meta .tags .label {
  color: #3d4c4f;
}

.article .meta .tags a {
  opacity: 0.9;
  color: inherit;
}

.article .meta .tags a:hover {
  color: #d8920c;
}

.user-content {
  letter-spacing: normal;
}

.user-content h1,.user-content h2,.user-content h3,.user-content h4,.user-content h5,.user-content h6 {
  letter-spacing: 1px;
  margin: 1em 0 5px;
}

.user-content a {
  text-decoration: underline;
}

.user-content iframe {
  max-width: 100%;
}

.meta .iconmeta {
  padding-left: 25px;
  margin-right: 10px;
  line-height: 1.4em;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.meta .iconmeta:before {
  content: ' ';
  float: left;
  margin: 0 0 0 -25px;
  height: 20px;
  width: 20px;
  background: url("meta_icons_greyeb2f.png?8813992248417522258") no-repeat 0 0;
}

.meta .iconmeta a {
  white-space: nowrap;
}

.meta .iconmeta.time:before {
  background-position: 0 -162px;
}

.meta .iconmeta.tags:before {
  background-position: 0 -80px;
}

#cartform .divider {
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d2;
}

#cartform .item-list {
  margin: 10px 0 40px;
}

#cartform .item {
  clear: both;
  list-style: none;
  position: relative;
  border-top: 1px solid #d9d9d2;
  padding: 10px 0;
}

#cartform .item:first-child {
  border-top: none;
}

#cartform .item a.remove {
  position: absolute;
  top: 45px;
  right: 5%;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#cartform .item .image {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 4% 0 5%;
  float: left;
}

#cartform .item .image img {
  vertical-align: middle;
}

#cartform .item .desc {
  overflow: hidden;
  margin: 40px 50% 0 0;
}

#cartform .item .desc .name {
  display: block;
}

#cartform .item .quantity {
  position: absolute;
  top: 40px;
  right: 30%;
  width: 130px;
}

#cartform .item .quantity input {
  width: 34px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#cartform .item .line-total {
  margin-top: 5px;
  position: absolute;
  top: 40px;
  right: 10%;
  width: 90px;
  text-align: right;
}

#cartform .checkout-note textarea {
  width: 370px;
  max-width: 90%;
  margin-top: 10px;
}

#cartform .totals-area {
  text-align: center;
}

#cartform .totals-area .checkout-col {
  float: right;
  max-width: 360px;
}

#cartform .totals-area .subtotal {
  margin: 0 0 40px;
}

#cartform .totals-area .checkout-buttons {
  margin: 0 0 40px;
}

#cartform .termsagreement {
  margin-bottom: 5px;
}

#cartform .termsagreement label {
  vertical-align: middle;
}

#additional-checkout-buttons input {
  background: none;
  border: none;
  height: auto;
}

#cartform #shipping-calculator .inputrow {
  float: left;
  clear: none;
  width: 20%;
  padding: 0 30px 20px 0;
}

#cartform #shipping-calculator .inputrow label {
  display: block;
  float: none;
  margin: 0 0 10px 0;
}

#cartform #shipping-calculator .inputrow.ziprow {
  width: auto;
  overflow: hidden;
  padding-right: 0;
}

#cartform #shipping-calculator .inputrow.ziprow input {
  width: auto;
}

#cartform #shipping-calculator .inputrow.ziprow #address_zip {
  width: 120px;
  margin-right: 20px;
}

#cartform #shipping-calculator #wrapper-response {
  padding: 20px 0;
  clear: both;
}

#template {
  text-align: center;
}

#template .template_header {
  margin: 40px 0;
}

#template button,#template input {
  width: 362px;
  text-align: center;
}

#template textarea {
  width: 362px;
}

#template label {
  text-transform: uppercase;
  font-size: 85%;
}

.ie7 #template label,.ie8 #template label {
  display: block;
}

#template .action_bottom {
  margin-top: 27px;
}

#template .note {
  display: block;
}

#template .errors {
  margin: 10px 25px;
  font-style: italic;
}

#template .errors li {
  list-style: none;
}

.jsforms #template .large_form {
  position: relative;
  margin-top: -1px;
}

.jsforms #template .large_form label {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  padding: 0 20px;
}

#template.lefty-form {
  text-align: left;
}

#template.lefty-form input[type="text"],#template.lefty-form input[type="email"],#template.lefty-form textarea {
  text-align: left;
}

#template.righty-form {
  text-align: center;
}

#template.righty-form input[type="text"],#template.righty-form input[type="email"],#template.righty-form textarea,#template.righty-form input[type="submit"] {
  text-align: center;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

#address_tables {
  margin-top: 40px;
}

#admin_header {
  margin: 20px 0 40px;
}

#admin_header .title {
  text-align: center;
}

#admin_header .action_return {
  margin-bottom: 20px;
}

#customer_sidebar {
  float: left;
  width: 33%;
}

#customer_detail .address p,.address_table .view_address p,#order_address .address p {
  margin-bottom: 0;
}

#customer_orders {
  float: right;
  width: 60%;
}

#order_address {
  margin-top: 10px;
}

#order_address #order_payment {
  float: left;
  width: 48%;
  margin-bottom: 20px;
}

#order_address #order_shipping {
  float: right;
  width: 48%;
  margin-bottom: 20px;
}

#order_details {
  clear: both;
  width: 100%;
}

#comments .comment {
  padding-top: 20px;
  border-top: 1px solid #d9d9d2;
}

#comments .comment.first {
  border-top: 0;
}

#comments .comment .gravatar {
  float: left;
  width: 80px;
}

#comments .comment .detail {
  margin-left: 100px;
}

.payment-methods img {
  margin: 0 3px;
  height: 25px;
  width: auto;
  max-width: none;
}

ul.taglist {
  margin: 0;
}

ul.taglist li {
  display: inline;
  white-space: nowrap;
}

table.noborders,table.noborders tr,table.noborders th,table.noborders td {
  border: 0;
}

.simple-popup {
  position: absolute;
  width: 140px;
  padding: 10px 15px;
  border: 1px solid #d9d9d2;
  color: #3d4c4f;
  background: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 0 #888;
  -moz-box-shadow: 0 0 2px 0 #888;
  box-shadow: 0 0 2px 0 #888;
  text-align: center;
}

.fb_iframe_widget>span {
  vertical-align: baseline !important;
}

.fb_iframe_widget iframe {
  max-width: none;
}

.slide .overlay-text {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  text-align: center;
}

.slide .overlay-text.overlay-left {
  text-align: left;
}

.slide .overlay-text.overlay-right {
  text-align: right;
}

.slide .overlay-text .inner {
  display: table;
  width: 100%;
  height: 100%;
}

.slide .overlay-text .text {
  font-size: 32px;
  line-height: 1px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.ie7 .slide .overlay-text .text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.slideshow {
  background: #f5f5f2;
}

.slideshow .slide .overlay-text .text span {
  line-height: 1.2em;
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.full-width-image {
  overflow: hidden;
  position: relative;
  background: #f5f5f2;
  line-height: 0;
}

.full-width-image .img-cont {
  display: block;
  position: relative;
}

.full-width-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.full-width-image .overlay-text,.full-width-image h1 span {
  color: #ffffff;
}

.slide.full-width-image .overlay-text .text {
  font-size: 32px;
}

.slide.full-width-image .overlay-text .text span {
  line-height: 1.2em;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.align-center,.align-centre {
  text-align: center;
}

.align-right {
  text-align: right;
}

a .state {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 1em;
  text-align: center;
}

.spaced-row {
  margin-bottom: 40px;
}

.padded-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.strongly-padded-row {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content img,.content iframe,.content embed,.content object {
  max-width: 100%;
  height: auto;
}

.layout-column-half-left {
  float: left;
  width: 45%;
}

.layout-column-half-right {
  float: right;
  width: 45%;
}

.layout-content-with-image-left .image-cont,.layout-content-with-image-right .image-cont {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.layout-content-with-image-left .content,.layout-content-with-image-right .content {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 60%;
  margin-right: 5%;
  vertical-align: middle;
}

.layout-content-with-image-left .content {
  margin-left: 5%;
  margin-right: 0;
}

.layout {
  position: relative;
}

.layout .col-third {
  float: left;
  width: 30%;
  margin-left: 5%;
}

.layout .col-third.left {
  margin-left: 0;
}

.layout .col-third.right {
  float: right;
  margin-left: 0;
}

.image-cont img {
  max-width: 100%;
  height: auto;
}

.article-image {
  margin: 0 0 1em;
  text-align: center;
}

#cart-summary-overlay {
  position: fixed;
  z-index: 6000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: #f5f5f2;
  border-bottom: 1px solid #d9d9d2;
  text-transform: uppercase;
  font-size: 80%;
}

#cart-summary-overlay .item {
  float: left;
  width: 50%;
  padding-left: 20px;
}

#cart-summary-overlay .item .cols {
  margin-top: 10px;
}

#cart-summary-overlay .item .img {
  float: left;
  width: 95px;
}

#cart-summary-overlay .item .info,#cart-summary-overlay .item .detail {
  float: left;
  width: 190px;
  margin-left: 10px;
}

#cart-summary-overlay img {
  max-height: 70px;
  max-width: 100%;
}

#cart-summary-overlay .cart {
  float: right;
  width: 40%;
  text-align: right;
  padding-right: 20px;
}

#cart-summary-overlay .cart .cart-text {
  margin: 15px 0 10px;
  font-style: italic;
  text-transform: none;
}

#cart-summary-overlay #shop-more,#cart-summary-overlay .button {
  margin-left: 10px;
}

.scaled-text {
  transition: font-size 300ms;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 5104;
  display: none;
}

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(fancyboxeb2f.png?8813992248417522258);
}

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5100;
  display: none;
}

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 5101;
  outline: none;
  display: none;
}

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 5102;
  border: 1px solid #eee;
}

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 5101;
}

#fancybox-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: transparent url(//cdn.shopify.com/s/files/1/1127/1070/t/2/assets/close-bg-dark.png?8813992248417522258) no-repeat center center;
  cursor: pointer;
  z-index: 5103;
  display: none;
}

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#fancybox-left,#fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url(//cdn.shopify.com/s/files/1/1127/1070/t/2/assets/blank.gif?8813992248417522258);
  z-index: 5102;
  display: none;
}

#fancybox-left {
  left: 0px;
}

#fancybox-right {
  right: 0px;
}

#fancybox-left-ico,#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 5102;
  display: block;
}

#fancybox-left-ico {
  background-image: url(//cdn.shopify.com/s/files/1/1127/1070/t/2/assets/fancybox.png?8813992248417522258);
  background-position: -40px -30px;
}

#fancybox-right-ico {
  background-image: url(//cdn.shopify.com/s/files/1/1127/1070/t/2/assets/fancybox.png?8813992248417522258);
  background-position: -40px -60px;
}

#fancybox-left:hover,#fancybox-right:hover {
  visibility: visible;
}

#fancybox-left:hover span {
  left: 20px;
}

#fancybox-right:hover span {
  left: auto;
  right: 20px;
}

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 5001;
}

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
}

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-position: -40px -162px;
}

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-position: -20px 0px;
}

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-position: -40px -182px;
}

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-position: 0px -20px;
}

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-position: -40px -142px;
}

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
}

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-position: -40px -122px;
}

#fancybox-title {
  font-size: 12px;
  z-index: 5102;
}

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}

#fancybox-title-over {
  padding: 10px;
  background-image: url(//cdn.shopify.com/s/files/1/1127/1070/t/2/assets/fancy_title_over.png?8813992248417522258);
  display: block;
}

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: #fff;
}

#fancybox-title-float-main {
  color: #999;
  line-height: 29px;
  padding: 0 0 3px 0;
  background: #fff;
}

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: #fff;
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
  outline: none;
}

.slides,.flex-control-nav,.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-direction-nav {
  height: 0;
}

.flex-direction-nav li {
  list-style: none;
}

.flexslider {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flexslider .slides>li {
  display: none;
}

.flexslider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.no-js .slides>li:first-child {
  display: block;
}

.flexslider {
  position: relative;
  zoom: 1;
}

.flexslider .slides {
  overflow: hidden;
  zoom: 1;
  margin: 0;
}

.flexslider .slides>li {
  position: relative;
  overflow: hidden;
}

.flex-container {
  zoom: 1;
  position: relative;
}

.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
}

.flex-caption {
  width: 96%;
  padding: 2%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 18px;
}

.flex-control-nav {
  text-align: center;
  margin-top: 10px;
  display: none;
}

.flex-control-nav li {
  display: inline;
}

.flex-control-nav li a {
  text-indent: -9999em;
  width: 4px;
  height: 4px;
  background: #777;
  border: 2px solid #777;
  margin: 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: background-color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.flex-control-nav li a.flex-active {
  background: #fff;
}

.flexslider .flex-control-nav {
  display: none;
}

.flex-direction-nav a {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
}

.flexslider .flex-direction-nav a {
  background: transparent url("../images/flexslider-leftright.png") left top no-repeat;
  width: 59px;
  height: 74px;
  top: 50%;
  margin-top: -37px;
  z-index: 3000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border: 0 !important;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.flexslider .flex-direction-nav a.flex-prev {
  left: 10px;
}

.flexslider .flex-direction-nav a.flex-next {
  right: 10px;
  background-position: 100% top;
}

.flexslider:hover .flex-direction-nav a.flex-prev:hover,.flexslider:hover .flex-direction-nav a.flex-next:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.flexslider .slides>li {
  list-style: none;
}

@media only screen and (max-width: 959px) {
  #pageheader .logo {
    clear: both;
  }

  #pageheader .util-area {
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
  }

  #pageheader .search-box,#pageheader .utils {
    position: static;
    float: right;
    margin: 10px 0;
    height: auto;
  }

  #pageheader .search-box {
    position: relative;
    top: 0;
    left: 0;
    float: left;
  }
}

@media only screen and (max-width: 959px) {
  .layout .col-third {
    float: none;
    width: auto;
    margin-left: 0;
  }

  .layout .col-third,.layout .col-third.left,.layout .col-third.right {
    float: none;
    width: auto;
    margin-bottom: 20px;
    margin-left: 0;
  }

  #customer_sidebar,#customer_orders,#order_address #order_payment,#order_address #order_shipping {
    float: none;
    display: block;
    width: auto;
    margin: 20px 0;
  }

  .nav-row a {
    padding-left: 14px;
    padding-right: 14px;
  }

  #cartform .item .desc {
    margin-right: 43%;
  }

  #cartform .item .quantity {
    right: 23%;
  }

  #cartform #shipping-calculator .inputrow {
    width: auto;
    max-width: 100%;
    padding-right: 0;
  }

  #cartform #shipping-calculator .inputrow input {
    margin-bottom: 20px;
  }

  #template button,#template input,#template textarea {
    width: 332px;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #pageheader .logo-pos-above .signup-form label {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .strongly-padded-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .layout-column-half-left,.layout-column-half-right {
    float: none;
    width: auto;
  }

  .layout-column-half-left {
    margin-bottom: 40px;
  }

  .layout-content-with-image-left .content,.layout-content-with-image-left .image-cont,.layout-content-with-image-right .content,.layout-content-with-image-right .image-cont {
    display: block;
    width: auto;
    margin: 20px 0;
  }

  .layout .col-third,.layout .col-third.left,.layout .col-third.right {
    float: none;
    width: auto;
    margin-left: 0;
  }

  #template.lefty-form {
    text-align: center;
  }

  .nav-row a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #store-messages.messages-2 .message,#store-messages.messages-3 .message {
    float: none;
    width: auto;
  }

  #store-messages .message .fluff {
    display: none;
  }

  .page-header .filters {
    float: none;
  }

  .page-header .filters .tags {
    margin: 0 13px;
    float: none;
  }

  .page-header .filters .view-as {
    display: none;
  }

  .page-header .social-area {
    margin-top: 20px;
    float: none;
  }

  #content .slide .overlay-text .button {
    display: none;
  }

  .flexslider .flex-direction-nav a {
    display: none;
  }

  .collection-slider .has-paging {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }

  .collection-slider .has-paging .prev,.collection-slider .has-paging .next {
    position: absolute;
    left: 10px;
    top: 0px;
    margin: 0;
  }

  .collection-slider .has-paging .next {
    left: auto;
    right: 10px;
  }

  .collection-listing .product-block {
    height: auto;
    width: 47%;
    padding-left: 1%;
    padding-right: 1%;
    min-width: 0;
  }

  .collection-slider .collection-listing .product-block {
    max-width: 98%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .collection-listing .product-block .image-cont,.collection-slider .collection-listing .product-block .image-cont {
    height: auto;
    max-height: none;
    padding-bottom: 0;
  }

  .collection-listing .product-block img,.collection-slider .collection-listing .product-block img {
    max-height: none;
    max-width: 100%;
    height: auto;
  }

  .product-block.page-block .block-inner {
    width: auto;
  }

  .collection-listing .product-detail .inner {
    padding: 100px 40px 50px 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .product-block .block-inner {
    height: auto;
  }

  .product-block .image-cont {
    overflow: hidden;
  }

  .product-block .block-inner .image-cont img {
    max-height: none;
  }

  .product-block .hover-info {
    position: static;
    display: block;
    padding-top: 10px;
  }

  .product-block .hover-info>.inner {
    min-height: 0;
  }

  .product-block .hover-info .title {
    min-height: 0;
  }

  #cartform .item .image {
    margin-left: 0;
    width: 75px;
  }

  #cartform .item .desc {
    margin-right: 50px;
  }

  #cartform .item .quantotal {
    position: relative;
    clear: both;
    padding-top: 20px;
  }

  #cartform .item .quantity {
    position: static;
    float: left;
  }

  #cartform .item .line-total {
    position: static;
    float: right;
  }

  #cartform .item a.remove {
    right: 0;
    top: 35px;
    padding: 10px;
  }

  #cartform .totals-area .checkout-col {
    float: none;
    max-width: none;
  }

  .customer_address_table,.customer_address_table tbody,.customer_address_table tr,.customer_address_table td {
    display: block;
    border: none;
    padding: 0;
  }

  .customer_address_table input {
    box-sizing: border-box;
  }

  .customer_address_table tr {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 600px) {
  #mobile-header {
    display: block;
  }

  .reveal-mobile-nav #mobile-nav-return {
    height: 100%;
    opacity: 1;
  }

  #pageheader {
    border-bottom: 1px solid #d9d9d4;
  }

  #pageheader .logo {
    padding: 5px 0 5px;
  }

  #pageheader .util-area .search-box {
    display: none;
  }

  #main-nav {
    position: fixed;
    text-align: left;
    background: #d8920c;
    border-right: 1px solid #d9d9d4;
    left: 0;
    width: 260px;
    top: 0;
    height: 100%;
    margin-left: -260px;
    z-index: 8000;
    transition: margin-left 250ms;
  }

  .reveal-mobile-nav #main-nav {
    margin-left: 0;
  }

  .reveal-mobile-nav #main-nav .mobile-nav-toggle {
    left: 100%;
    opacity: 1;
  }

  #main-nav .mobile-features {
    display: block;
    border-bottom: 1px solid #d9d9d4;
  }

  #main-nav .multi-level-nav {
    overflow: auto;
    max-height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
  }

  #main-nav.nav-row ul {
    width: 100%;
  }

  #main-nav.nav-row ul li {
    display: block;
    padding: 0;
  }

  #main-nav.nav-row .mobile-expanded>ul {
    display: block;
  }

  #main-nav.nav-row .multi-level-nav>div>ul {
    display: none;
  }

  #main-nav.nav-row .multi-level-nav>div.tier-1>ul {
    display: block;
  }

  #main-nav .multi-level-nav ul ul {
    background: #d9d9ce;
    padding-bottom: 0;
  }

  #main-nav .multi-level-nav>div>ul>li>ul {
    background: #3d4c4f;
  }

  #main-nav.nav-row ul li a.has-children:after {
    content: '+';
    margin-left: 5px;
    width: 10px;
  }

  #main-nav.nav-row ul li.mobile-expanded>a.has-children:after {
    content: '-';
  }

  #main-nav.nav-row ul li a.has-children .exp {
    display: none;
  }

  #main-nav.nav-row a.listing-title {
    font-weight: normal;
  }

  #main-nav.nav-row ul ul li a {
    margin-left: 10px;
  }

  #main-nav.nav-row ul ul ul li {
    margin-left: 10px;
  }

  #main-nav a {
    display: block;
  }

  #main-nav a.expanded {
    color: #ffffff;
  }

  #main-nav a:hover {
    color: #ffffff;
  }

  #main-nav .account-links a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }

  #pageheader .util-area {
    text-align: center;
    position: static;
  }

  #pageheader .utils {
    float: none;
    display: block;
    margin: 5px 0;
  }

  #pageheader .util-area .signup-reveal-area {
    display: block;
    margin-bottom: 15px;
  }

  #pageheader .util-area .signup-form-cont .signup-form:before {
    left: 50%;
  }

  #pageheader .util-area .signup-form-cont .signup-form:after {
    left: 50%;
  }

  #pageheader .utils .social-links {
    display: block;
    margin: 0;
    text-align: center;
  }

  #pageheader .utils .cart-summary {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 15px;
    line-height: 32px;
  }

  #pageheader .utils .cart-summary .switcher .switcher-drop,#pageheader .util-area .signup-form-cont {
    position: relative;
    -webkit-animation: none;
    animation: none;
  }

  #pageheader .utils .cart-summary .switcher .switcher-drop .inner {
    white-space: normal;
  }

  #pageheader .utils .cart-summary .switcher .switcher-drop .inner:before {
    top: 0;
    left: 50%;
  }

  #pageheader .utils .cart-summary .switcher .switcher-drop .inner:after {
    top: 1px;
    left: 50%;
  }

  #pagefooter .image-links .image-link {
    float: none;
    width: auto;
  }

  #pagefooter .image-links .image-link.block-1,#pagefooter .image-links .image-link.block-2,#pagefooter .image-links .image-link.block-3 {
    margin: 0 1.4%;
  }

  .nav-row {
    line-height: 1em;
  }

  .view-as {
    display: block;
    margin: 10px 0 0;
  }

  #comments .comment .gravatar {
    width: 40px;
  }

  #comments .comment .detail {
    margin-left: 55px;
  }

  #cart-summary-overlay .item * {
    display: inline;
  }

  #cart-summary-overlay .item,#cart-summary-overlay .item .info,#cart-summary-overlay .cart {
    width: auto;
    float: none;
    padding: 0 20px;
  }

  #cart-summary-overlay .item .img,#cart-summary-overlay .item .detail,#cart-summary-overlay .cart .cart-text {
    display: none;
  }

  #cart-summary-overlay .item .info>* {
    display: inline;
    margin-right: 10px;
  }

  #cart-summary-overlay #shop-more,#cart-summary-overlay .button {
    width: 49%;
    margin: 0;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
  }

  #cart-summary-overlay #shop-more {
    float: left;
  }

  #pagefooter .copyright .copy {
    white-space: normal;
  }
}

@media only screen and (max-width: 360px) {
  .signup-form label {
    display: none;
  }

  #cartform .item .image {
    margin-left: 0;
    width: 50px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .social-links a {
    background-image: url("../images/social_spr_darkgrey.png");
    -moz-background-size: 243px 22px;
    -ie-background-size: 243px 22px;
    -o-background-size: 243px 22px;
    -webkit-background-size: 243px 22px;
    background-size: 243px 22px;
  }

  #pageheader .search-box .search-form i {
    background-image: url("../images/social_spr_darkgrey.png");
    -moz-background-size: 243px 22px;
    -ie-background-size: 243px 22px;
    -o-background-size: 243px 22px;
    -webkit-background-size: 243px 22px;
    background-size: 243px 22px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  html {
    -webkit-text-size-adjust: none;
  }
}

@-webkit-keyframes reveal {
  0% {
    margin-left: -999px;
    opacity: 0;
  }

  1% {
    margin-left: 0;
    opacity: 0;
    -webkit-transform: scale(0.98) translateY(-15px);
  }

  80% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    margin-left: -999px;
    opacity: 0;
  }

  1% {
    margin-left: 0;
    opacity: 0;
    transform: scale(0.98) translateY(-15px);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: translateY(0);
  }
}

html.template-password {
  height: 100%;
}

html.template-password body {
  height: 100vh;
  font-size: 15px;
  line-height: 1.3em;
  text-align: center;
  background: #ffffff;
  background-repeat: repeat;
}

html.template-password .password-container {
  display: table;
  height: 100%;
  width: 100%;
}

html.template-password .password-store-name,html.template-password .password-main,html.template-password .password-footer {
  display: table-row;
}

html.template-password .password-store-name-inner,html.template-password .password-main-inner,html.template-password .password-footer-inner {
  display: table-cell;
  padding: 20px;
}

html.template-password .password-store-name {
  height: 1px;
}

html.template-password .password-main {
  height: 100%;
}

html.template-password .password-main-inner {
  vertical-align: middle;
}

html.template-password .password-footer {
  height: 1px;
}

html.template-password .password-login-link {
  margin: 20px 0 40px;
  text-align: right;
}

html.template-password .password-login-link svg {
  width: 10px;
  height: 12px;
  margin-right: 4px;
}

html.template-password .password-login-link svg path {
  -webkit-transition: fill 100ms;
  -ms-transition: fill 100ms;
  -moz-transition: fill 100ms;
  -o-transition: fill 100ms;
  transition: fill 100ms;
}

html.template-password .password-login-link a:hover svg path,html.template-password .password-login-link a:focus svg path {
  fill: #d8920c;
}

html.template-password h1 {
  font-size: 2em;
}

html.template-password h1 a:hover {
  text-decoration: none;
}

html.template-password h2 {
  font-size: 4em;
}

html.template-password input[type=text],html.template-password input[type=email],html.template-password input[type=password] {
  height: 28px;
  padding: 4px;
  margin: 0 5px 0 0;
  color: #666;
  background: #fff;
  border: 1px solid #ccc;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

html.template-password input[type=submit] {
  display: inline-block;
  border: none;
  background: #464e54;
  color: #ffffff;
  vertical-align: top;
  margin: 0;
  padding: 4px 14px;
  min-width: 0;
  font-family: Arial, sans-serif;
  font-size: 90%;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

html.template-password #shoplogo {
  margin: 0 auto;
}

html.template-password #shoplogo .logotext {
  font-size: 22px;
  line-height: 1em;
}

html.template-password .shopify-name {
  display: none;
}

html.template-password .password-message {
  margin-bottom: 2em;
}

html.template-password .password-signup {
  margin-bottom: 4em;
}

html.template-password .password-signup input[type=email] {
  box-sizing: content-box;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  padding: 4px 18px;
  margin-right: -1px;
  width: 250px;
  -webkit-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

html.template-password .password-signup input[type=submit] {
  box-sizing: content-box;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  padding: 4px 18px;
  border: 1px solid #464e54;
  -webkit-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

html.template-password .password-signup input[type=submit]:hover {
  background-color: #d8920c;
  border-color: #d8920c;
}

@media only screen and (max-width: 420px) {
  html.template-password .password-signup input[type=email] {
    width: 90%;
  }

  html.template-password .password-signup input[type=email],html.template-password .password-signup input[type=submit] {
    margin: 0 0 10px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}

html.template-password .password-social li {
  display: inline-block;
  white-space: nowrap;
}

html.template-password .password-social a {
  color: #fff;
  margin: 10px;
  display: inline-block;
  padding: 2px 12px 2px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

html.template-password .password-social a span {
  vertical-align: middle;
}

html.template-password .password-social a:hover {
  color: #fff;
  opacity: 0.9;
}

html.template-password .password-social a:hover,html.template-password .password-social a:hover span {
  text-decoration: none;
}

html.template-password .password-social a i {
  display: inline-block;
  vertical-align: middle;
}

html.template-password .password-social .password-social-item-facebook {
  background: #3b5998;
}

html.template-password .password-social .password-social-item-twitter {
  background: #00aced;
}

html.template-password .password-social .password-social-item-google {
  background: #dd4b39;
}

html.template-password .password-footer-inner {
  padding-top: 150px;
  line-height: 2em;
}

html.template-password .password-footer-inner .powered-by,html.template-password .password-footer-inner svg {
  vertical-align: top;
}

html.template-password .password-footer-inner svg {
  margin: 0 0 0 5px;
  width: 80px;
  height: 23px;
}

html.template-password #password-login {
  width: 300px;
  padding: 1em 0;
}

html.template-password #password-login,html.template-password #password-login a,html.template-password #password-login a:link,html.template-password #password-login a:visited,html.template-password #password-login a:hover {
  color: #333;
}

html.template-password #password-login label {
  display: block;
  margin: 0 0 0.5em;
}

html.template-password #password-login input[type=password] {
  width: 150px;
}

html.template-password #password-login .password-owner {
  margin-top: 2em;
}

.mystate {
  display: none;
}

.BIS_trigger {
  color: #fff !important;
  text-decoration: underline;
  font-weight: bold;
  padding: 2%;
  background: #db4931;
  padding-bottom: 1%;
  padding-top: 0%;
  padding-right: 16%;
  padding-left: 19%;
}

.gurg:hover {
  color: #000;
}
.formobileview
{
	display: none;
}
@media screen and (min-width:300px) and (max-width:480px) {
.fordesktopview
{
	display: none !important;
}
.formobileview
{
	display: block !important;
}
.formobilesearchbar
{
	position: absolute;
    margin-top: -10%;
    margin-left: 11%;
    height: 3%;
    border: none;
    padding-left: 0;
    background: #d8920c;
    border-bottom: 1px #fff solid;
    width: 55%;
    font-size: 20px;
}
.formobilesearchbar:placeholder
{
	color: #fff;
}
.cart-count 
{
	color: #fff !important;
}
input[type="text"].formobilesearchbar::-webkit-input-placeholder {
  color: #fff;
}
#pageheader .utils .cart-summary
{
	    margin-top: 2%;
}
.social-links
{
	float: none;
}
.social-links a {
    display: inline-block;
    zoom: 1;
    height: 0;
    text-indent: -999em;
    vertical-align: middle;
    width: 20px;
    text-align: center;
    padding-top: 22px;
    background: url(../images/social_spr_darkgrey.png) 0 0 no-repeat;
}
}