
.free-simple-slider {
    position: relative;
}

.free-simple-slider .slider-box {
    height: 413px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom:25px;
}
.free-simple-slider li {
    height: 100%;
    width:100%;
    max-width: 1200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
    background-size: cover;
    background-position: center center;
}
.free-simple-slider li img {
    visibility: hidden;
}
.free-simple-slider .current {
    display: block;
}
.free-simple-slider .slider-box.slide-animation {
    position: relative;
    overflow: hidden;  
}
 .free-simple-slider .slider-box.slide-animation li {
    float: left;
    position: absolute;
    left: 100%;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;  
}
.free-simple-slider .slider-box.slide-animation li.current,
.free-simple-slider .slider-box.slide-animation li.prev {
        left: 0%;
}
.free-simple-slider .slider-box.slide-animation li.prev {
    z-index: 998;
}
.free-simple-slider .slider-box.slide-animation li.current {
    z-index: 999;
}


.free-simple-slider .slider-dots {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    padding: 10px 10px;
    z-index: 999999;
}

.free-simple-slider .slider-dots li {
    height: 12px;
    width: 12px;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 10px;
    position: static;
    border-radius: 50%;
}

.free-simple-slider .slider-dots li:hover {
    cursor: pointer;
    background-color: #fff;
}
.free-simple-slider .slider-dots li.current {
    background-color: #000;
    border: 1px solid #000;
}

.free-simple-slider .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 99999;
    color: white;
    /*background: rgba(255, 255, 255, 0.6);*/
}
.free-simple-slider .arrows:hover {
    /*background: #fff;*/
    cursor: pointer;
}

.free-simple-slider .prev-arrow {
    left: 20px;
}
.free-simple-slider .next-arrow {
    right: 0px;
}

.free-simple-slider .arrows img {
    width: 100%;
}