.home_page_img1{
	height: 206px !important;
}
/*.home_page_img2{
height: 250px !important;
}*/

.registerrow.row {text-align: center;} 
.registerrow.row .col-md-5 {display: inline-block; float: none;}
.registerrow.row .panel-default{ border: none; }
/*.owl-wrapper {transform: translate3d(0px, 0px, 0px) !important;}*/
.paragraph{
	padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: grey;
    font-weight: 400;
    width: 100%;
}
.para_heading{
	width: 50%;
	margin-left: auto !important;margin-right: auto !important;
	font-family: 'Lato', sans-serif;
}
.story_paragraph{
	margin-top: 0%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.canceled{
	    margin-right: 5px;
    margin-bottom: 5px;
    width: 180px!important;
    list-style-type: none;
}




/*sedfsdf*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

img {
  max-width: 100%;
}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

.right.carousel-control .fa.fa-angle-right {position: absolute;top: 50%;}
.left.carousel-control .fa.fa-angle-left {position: absolute;top: 50%;}
#first-slider {background: url('/web-asset/img/image9.png') no-repeat;}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("img/700.jpg");
}
.slide-2 {
  background-image: url("img/700.jpg");
}
.slide-3 {
  background-image: url("img/700.jpg");
}
.wpb_content_element{
	margin-bottom: 17px !important;
}
.aligncorrect{
	    margin-left: 13px !important;
    margin-right: 1% !important;
    /*width: 96% !important;*/
}
.banner-title{
  color: white !important;
  margin-top: 7%;
}
.somespace{
  margin-top: 10px;
  margin-bottom: 10px;
}
.woocommerce ul.products li.product .yith-wcqv-button:before{
  content: none;
}
.header-top-nav li {
    display: none;
   
}
.col-md-12.text-left h3 {    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: black;
    margin-top: 21px;
    line-height: 32px;}