.comment_sec {    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;}
.user_image {width: 50px; height: 50px; float: left; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; margin-right: 15px; background: #ADDBC9; text-align: center; line-height: 50px;}
.comment-text {width: 100%;}
.user_comment {padding-left: 65px;}
.user_name {font-size: 14px; line-height: 14px; font-weight: bold; }
.new_acordian {display: none;}
.main-menu.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 0;
    z-index: 2;
}
.new_acordian {width: 100%; float: left;}
.logo_sec {text-align: center; position: relative; margin-bottom: 15px;}
.left_image_elephant {position: absolute; left: : 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.rht_image_elephant { z-index: 1; position: absolute; right: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.video_sec {width: 100%; float: left; margin-bottom: 50px;}
.vc_custom_1478600515664 {
    margin-bottom: 30px !important;
}
.vc_custom_1478537271174 {
    border-top-width: 1px !important;
    border-top-color: white !important;
    border-top-style: solid !important;
}
.vc_custom_1486565534835 {
    margin-bottom: 20px !important;
}
.vc_custom_1478710612358 {
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    background-color: #FBE2E5 !important;
}
.vc_custom_1487780185129 {
    margin-bottom: 20px !important;
}
.vc_custom_1478686560005 {
    margin-bottom: 40px !important;
}
.vc_custom_1478554553186 {
    margin-bottom: 40px !important;
}
.vc_custom_1478553816012 {
    margin-bottom: 40px !important;
}
.vc_custom_1478685345682 {
    margin-bottom: 30px !important;
}
.vc_custom_1486566656871 {
    margin-bottom: 60px !important;
}
.vc_custom_1486566105119 {
    /*margin-bottom: 14px !important;*/
    padding-left: 5px !important;
}
.vc_custom_1478537373550 {
    padding-top: 5px !important;
}
.vc_custom_1489091338605 {
    margin-bottom: 20px !important;
}
.vc_custom_1478615074347 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    background-color: #f9f9f8 !important;
}
.vc_custom_1478615092063 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    background-color: #f9f9f8 !important;
}
.vc_custom_1478615104511 {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    background-color: #f9f9f8 !important;
}
</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible {
    opacity: 1;
}
</style></noscript><style type="text/css">
/** Saturday 8th of April 2017 08:28:34 PM (core) **/

#mega-menu-wrap-primary-nav,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    border: 0;
    bottom: auto;
    box-sizing: border-box;
    clip: auto;
    color: #000;
    display: block;
    float: none;
    font-family: inherit;
    font-size: 12px;
    height: auto;
    left: auto;
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
    min-height: 0;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    top: auto;
    vertical-align: baseline;
    visibility: inherit;
    width: auto;
}
#mega-menu-wrap-primary-nav:before,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav:before,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav ul.mega-sub-menu:before,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item:before,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link:before,
#mega-menu-wrap-primary-nav:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav ul.mega-sub-menu:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link:after {
    display: none;
}
#mega-menu-wrap-primary-nav {
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav {
    visibility: visible;
    text-align: center;
    padding: 0px 0 0px 0;
    background: #ADDBC9;
}
@media only screen and (max-width: 991px) {
    .registerrow .col-sm-12.col-md-5 {
    width: 100% !important;
}

.navbar .navbar-nav>li>a {
    font-size: 14px;
    height: 48px;
    float: left;
    letter-spacing: 1px;
    width: 50%;
}
li.dropdown .caret { z-index: -1;}
li.dropdown:hover > .dropdown-menu {position: initial !important;}

li.dropdown:hover > .dropdown-menu {top: 37px;}
    .logo_sec input[type="search"] {margin-top: 20px;}
    .navbar .navbar-nav>li {
    width: 100%;
    text-align: left;
}
li.dropdown:hover > .dropdown-menu {
    background: #a9d0c1 !important;
    width: 100%;
}
    .footerul {
        margin-bottom: 36px;
        padding-top: 10px !important;
    }
    .footerul li {
    margin-bottom: 10px;
}
}
@media only screen and (max-width: 800px) {
    .modal-body {width: 100% !important}
    .close {z-index: 99;}
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav {
        background: #fff;
    }
    .woocommerce-tabs {display: none;}
    .new_acordian {display: block;}
}
@media only screen and (max-width: 800px) {

    #mega-menu-wrap-primary-nav #mega-menu-primary-nav {
        padding: 0;
    }

}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link {
    cursor: pointer;
    display: inline;
    -webkit-transition: background 200ms linear, color 200ms linear;
    -moz-transition: background 200ms linear, color 200ms linear;
    -o-transition: background 200ms linear, color 200ms linear;
    transition: background 200ms linear, color 200ms linear;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link .mega-description-group {
    vertical-align: middle;
    display: inline-block;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link .mega-description-group .mega-menu-title,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link .mega-description-group .mega-menu-description {
    line-height: 1.5;
    display: block;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link .mega-description-group .mega-menu-description {
    font-style: italic;
    font-size: 0.8em;
    text-transform: none;
    font-weight: normal;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-icon-top > a.mega-menu-link {
    display: table-cell;
    vertical-align: middle;
    line-height: initial;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-icon-top > a.mega-menu-link:before {
    display: block;
    margin: 0 0 6px 0;
    text-align: center;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-icon-top > a.mega-menu-link > span.mega-title-below {
    display: inline-block;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-icon-top > a.mega-menu-link {
        display: block;
        line-height: 40px;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-icon-top > a.mega-menu-link:before {
        display: inline-block;
        margin: 0 6px 0 0;
        text-align: left;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-icon-right > a.mega-menu-link:before {
    float: right;
    margin: 0 0 0 6px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-animating > ul.mega-sub-menu {
    pointer-events: none;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-disable-link > a.mega-menu-link,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-megamenu li.mega-disable-link > a.mega-menu-link {
    cursor: default;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item-has-children.mega-disable-link > a.mega-menu-link {
    cursor: pointer;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav.mega-keyboard-navigation + .mega-menu-toggle.mega-menu-open,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav.mega-keyboard-navigation a:focus,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav.mega-keyboard-navigation input:focus {
    -webkit-box-shadow: inset 0px 0px 3px 1px #0ff;
    -moz-box-shadow: inset 0px 0px 3px 1px #0ff;
    -ms-box-shadow: inset 0px 0px 3px 1px #0ff;
    -o-box-shadow: inset 0px 0px 3px 1px #0ff;
    box-shadow: inset 0px 0px 3px 1px #0ff;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav p {
    margin-bottom: 10px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav input,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav img {
    max-width: 100%;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item > ul.mega-sub-menu {
    display: block;
    visibility: hidden;
    opacity: 1;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade"] li.mega-menu-item > ul.mega-sub-menu {
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: opacity, visibility;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    opacity: 1;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    opacity: 0;
    margin-top: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: opacity, margin-top, visibility;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    opacity: 1;
    margin-top: 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    margin-top: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: margin-top, visibility;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav[data-effect="slide_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    margin-top: 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    visibility: visible;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
    visibility: inherit;
    opacity: 1;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item a[class^='dashicons']:before {
    font-family: dashicons;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item a.mega-menu-link:before {
    display: inline-block;
    font: inherit;
    font-family: dashicons;
    position: static;
    margin: 0 6px 0 0px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-hide-text a.mega-menu-link:before {
    margin: 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-hide-text li.mega-menu-item a.mega-menu-link:before {
    margin: 0 6px 0 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-align-bottom-left.mega-toggle-on > a.mega-menu-link {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-align-bottom-right > ul.mega-sub-menu {
    right: 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-align-bottom-right.mega-toggle-on > a.mega-menu-link {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -ms-border-radius: 0px 0px 0 0;
    -o-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu.mega-menu-item {
    position: static;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item {
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-item-align-right {
    float: right;
}
@media only screen and (min-width: 801px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-item-align-right {
        margin: 0 0 0 0px;
    }
}
@media only screen and (min-width: 801px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-item-align-float-left {
        float: left;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-toggle-on > a.mega-menu-link,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item > a.mega-menu-link:focus {
    background: rgba(0, 0, 0, 0);
    color: #9c968f;
    font-weight: normal;
    text-decoration: none;
    border-color: #fff;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item > a.mega-menu-link {
    border-top: 0px solid #dcdcdc;
    border-left: 0px solid #dcdcdc;
    border-right: 0px solid #dcdcdc;
    border-bottom: 0px solid #dcdcdc;
    outline: none;
    text-decoration: none;
    padding: 0px 25px 0px 25px;
    line-height: 48px;
    font-weight: normal;
    /* height: 48px; */
    vertical-align: baseline;
    text-align: left;
    width: auto;
    display: block;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: lato, regular;
    font-size: 14px;
    font-weight: 300 !important;
    letter-spacing: 1px;
}
@media only screen and (min-width: 801px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-multi-line > a.mega-menu-link {
        line-height: inherit;
        display: table-cell;
        vertical-align: middle;
    }
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-multi-line > a.mega-menu-link br {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item {
        display: list-item;
        margin: 0;
        clear: both;
        border: 0;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item.mega-item-align-right {
        float: none;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item > a.mega-menu-link {
        -webkit-border-radius: 0 0 0 0 0 0 0;
        -moz-border-radius: 0 0 0 0 0 0 0;
        -ms-border-radius: 0 0 0 0 0 0 0;
        -o-border-radius: 0 0 0 0 0 0 0;
        border-radius: 0 0 0 0 0 0 0;
        border: 0;
        margin: 0;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu {
    z-index: 999;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    background: #f9f9f8;
    padding: 30px 65px 30px 65px;
    position: absolute;
    width: 100%;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    left: 0;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu {
        float: left;
        position: static;
        width: 100%;
    }
}
@media only screen and (min-width: 801px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-1 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-2 {
        width: 50%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-2 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-3 {
        width: 33.33333%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-3 {
        width: 66.66667%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-3 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-4 {
        width: 25%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-4 {
        width: 50%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-4 {
        width: 75%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-4 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-5 {
        width: 20%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-5 {
        width: 40%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-5 {
        width: 60%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-5 {
        width: 80%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-5 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-6 {
        width: 16.66667%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-6 {
        width: 33.33333%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-6 {
        width: 50%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-6 {
        width: 66.66667%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-6 {
        width: 83.33333%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-6 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-7 {
        width: 14.28571%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-7 {
        width: 28.57143%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-7 {
        width: 42.85714%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-7 {
        width: 57.14286%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-7 {
        width: 71.42857%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-7 {
        width: 85.71429%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-7 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-8 {
        width: 12.5%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-8 {
        width: 25%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-8 {
        width: 37.5%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-8 {
        width: 50%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-8 {
        width: 62.5%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-8 {
        width: 75%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-8 {
        width: 87.5%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-8-of-8 {
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-9 {
        width: 11.11111%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-2-of-9 {
        width: 22.22222%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-3-of-9 {
        width: 33.33333%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-4-of-9 {
        width: 44.44444%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-5-of-9 {
        width: 55.55556%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-6-of-9 {
        width: 66.66667%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-7-of-9 {
        width: 77.77778%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-8-of-9 {
        width: 88.88889%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-9-of-9 {
        width: 100%;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu .mega-description-group .mega-menu-description {
    margin: 5px 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu {
    clear: both;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    margin-left: 10px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    margin-left: 20px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
    color: #000;
    font-family: inherit;
    font-size: 12px;
    display: block;
    float: left;
    clear: none;
    padding: 15px 15px 15px 0px;
    vertical-align: top;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear {
    clear: left;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    color: #000;
    font-family: inherit;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    margin: 0px 0px 35px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    display: block;
    border-top: 0px solid #555;
    border-left: 0px solid #555;
    border-right: 0px solid #555;
    border-bottom: 0px solid #555;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    color: #7e7974;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    display: block;
    border-top: 0px solid #555;
    border-left: 0px solid #555;
    border-right: 0px solid #555;
    border-bottom: 0px solid #555;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    background: #f9f9f8;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
    color: #666;
    font-family: inherit;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    margin: 0;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    display: block;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus {
    color: #666;
    font-weight: normal;
    text-decoration: none;
    background: #f9f9f8;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu {
        border: 0;
        padding: 10px;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        -ms-border-radius: 0 0 0 0;
        -o-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
        width: 50%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li:nth-child(odd) {
        clear: left;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    color: #666;
    font-family: inherit;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    margin: 0;
    border: 0;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    display: block;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu.mega-no-headers > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
    color: #666;
    font-weight: normal;
    text-decoration: none;
    background: #f9f9f8;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu {
    z-index: 999;
    position: absolute;
    width: 250px;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    padding: 0 10px 10px 0;
    background: #f9f9f8;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu {
        float: left;
        position: static;
        width: 100%;
        padding: 0;
        border: 0;
    }
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
        clear: both;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    display: block;
    background: #f9f9f8;
    color: #7e7974;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 15px 5px 15px;
    line-height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: baseline;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child > a.mega-menu-link {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child > a.mega-menu-link {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus {
    background: #f9f9f8;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
        position: static;
        left: 0;
        width: 100%;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
        padding-left: 20px;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f140';
    display: inline-block;
    font-family: dashicons;
    margin: 0 0 0 6px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    color: inherit;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-menu-item-has-children a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout li.mega-menu-item-has-children a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item-has-children a.mega-menu-link:after {
        float: right;
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
        content: '\f142';
    }
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after {
        display: none;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after {
    display: none;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f139';
    float: right;
    margin: 0;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
        content: '\f140';
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
    text-align: right;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
        text-align: left;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
    float: right;
    margin: 0 0 0 6px;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
        float: left;
        margin: 0 6px 0 0;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f141';
    float: left;
    margin: 0;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
        content: '\f140';
        float: right;
    }
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    left: -100%;
    top: 0;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav li[class^='mega-lang-item'] > a.mega-menu-link > img {
    display: inline;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link > img.wpml-ls-flag,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav a.mega-menu-link > img.iclflag {
    display: inline;
    margin-right: 8px;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-hide-on-mobile,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-mobile {
        display: none;
    }
}
@media only screen and (min-width: 801px) {
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav li.mega-menu-item.mega-hide-on-desktop,
    #mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-desktop {
        display: none;
    }
}
#mega-menu-wrap-primary-nav .mega-menu-toggle {
    display: none;
    z-index: 1;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav .mega-menu-toggle {
        display: block;
    }
}
#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block {
    text-align: left;
    display: inline-block;
    height: 100%;
}
#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block-left {
    float: left;
    margin-left: 6px;
}
#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block-center {
    float: none;
    margin-left: 3px;
    margin-right: 3px;
}
#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block-right {
    float: right;
    margin-right: 6px;
}
@media only screen and (max-width: 800px) {
    #mega-menu-wrap-primary-nav .mega-menu-toggle + #mega-menu-primary-nav {
        display: none;
    }
    #mega-menu-wrap-primary-nav .mega-menu-toggle + #mega-menu-primary-nav li.mega-menu-item > ul.mega-sub-menu {
        display: none;
        visibility: visible;
        opacity: 1;
    }
    #mega-menu-wrap-primary-nav .mega-menu-toggle + #mega-menu-primary-nav li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
    #mega-menu-wrap-primary-nav .mega-menu-toggle + #mega-menu-primary-nav li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
        display: block;
    }
    #mega-menu-wrap-primary-nav .mega-menu-toggle.mega-menu-open + #mega-menu-primary-nav {
        display: block;
    }
}
#mega-menu-wrap-primary-nav .mega-menu-toggle {
    /** Push menu onto new line **/
}
#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block-1:before {
    content: '\f214';
    font-family: 'dashicons';
    font-size: 24px;
    margin: 0 0 0 5px;
    color: #000;
}
#mega-menu-wrap-primary-nav .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:before {
    content: '\f214';
}
/*#mega-menu-wrap-primary-nav .mega-menu-toggle .mega-toggle-block-1:after {
    content: 'MENU';
    color: #000;
    float: left;
    float: right;
}*/
#mega-menu-wrap-primary-nav .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:after {
    content: 'MENU';
}
#mega-menu-wrap-primary-nav {
    clear: both;
}
#mega-menu-wrap-primary-nav h4.mega-block-title {
    position: relative;
}
.primary-nav .mega-sub-menu .menu > li {
    border-right: none;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    font-family: "Lato", sans-serif;
}
.primary-nav .mega-sub-menu .menu > li {
    border-right: none;
    padding: 0;
    font-family: "Lato", sans-serif;
}
#mega-menu-wrap-primary-nav h4.mega-block-title:after {
    content: "";
    left: 0;
    width: 35px;
    height: 2px;
    background: #dcdcdc;
    position: absolute;
    bottom: -15px;
}
#mega-menu-wrap-primary-nav .menu-banner-description {
    text-align: center;
    background: #fff;
    position: absolute;
    padding: 15px 40px;
    width: 72%;
    right: 50%;
    bottom: -25px;
    transform: translateX(50%);
}
#mega-menu-wrap-primary-nav .menu-banner-description h2 {
    font-family: "EB Garamond", serif;
    font-size: 18px;
    margin-bottom: 0;
    color: #000;
}
#mega-menu-wrap-primary-nav .menu-banner-description p {
    color: #000;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}
#mega-menu-wrap-primary-nav .mega-menu-megamenu .mega-sub-menu {
    padding-left: 70px !important;
    padding-right: 70px !important;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item:last-of-type {
    padding-right: 0;
    text-align: center;
}
.gifthr{
    width: 31%;
    color: white !important;
    border: 1px solid white;
    margin-left: 47%;
    margin-top: 2%;
}

@media only screen and (max-width: 767px) {
    .story_paragraph {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .nav>li>a {padding: 10px 0 !important; }
}
@media only screen and (max-width: 600px) {
iframe#utube {
    height: 200px;
}
.nav>li>a {padding: 10px 0 !important; }
.layout-content-with-image-left .content, .layout-content-with-image-right .content {width: 100% !important; margin: 0 !important}

.thankyouSpecial {width: 60% !important}
.mrgin_rgt_ty_page {margin-right: 0 !important}
.image-cont h6 {font-size: 20px !important;
    
    margin-bottom: 6px !important;
    display: inherit !important;}
    .thankorderdetails {margin-bottom: 20 !important;}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {

/*.left_image_elephant {
    position: inherit;
    float: left;}
    .rht_image_elephant {
    position: inherit;
    float: right;}*/
.left_image_elephant {width: 66px; left: 10px;}
.rht_image_elephant {width: 65px;}
.update_cart_count {
    position: absolute;
    top: 0;
    right: 3px;
}
.logo_sec input[type="search"] {
    width: 134px;
}
.site-title img {width: 120px;}
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .site-title {
        margin-bottom: 1rem;
        background-image: url('web-asset/img/mainlogo.png') !important;


        
    }
    .cart-count {
        margin-right: 1.5rem;
        margin-bottom: -1.5rem;
    }
    .site-logo {
        
    }
}

#myModal3 .modal-content {overflow: hidden; border-radius: 0; background: #22c8c4; padding: 10px;}
#myModal3 {text-align: center;     background: rgba(0, 0, 0, 0.37)}
#myModal3 .modal-footer{      padding: 35px 0;  float: left;
    width: 100%;
    text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.continue_shop {display: inherit;
    text-transform: uppercase;
    margin-top: 21px;}
   .chec_btm {display: inherit;
    text-transform: uppercase;
    margin-top: 21px;}
#myModal3 p {font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 25px;
    color: #787c7b;}
    a.continue_shop {
    background: #22c8c4;
    width: 195px;
    padding: 8px 0px;
    margin: 19px auto 0;
    color: #fff;
}
.chec_btm{ background: #4a4a4a;
    width: 127px;
    padding: 8px 0px;
    margin: 19px auto 0;
    color: #fff;}