
 .fix-search & {
    position: fixed;
    top: 10px;
    input {
      width: 250px;
          }
              }
/*price filter width for mobile devices*/
@media screen and (max-width: 610px){

#slider-weight-range, #slider-range {
                                       width: 100%!important;
                                    }
                        #panelhead {
                                      background: #d8920c !important;
                                      color: white !important;
                                      text-align: center !important; 
                                    }
                       /* .filtercontent{
                          display: none;
                        }
*/.filterpanelheadimg{
  height: 20px;
  color: black;
}
}



/*price filter width for mobile devices*/
.filterpanelheadimg{
  height: 20px;
}

  .ui-slider-range, .ui-corner-all, .ui-widget-header
  {
    background: #c5c5c5 !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default {
    border: 3px solid #171615 !important;
    background: #f5f2f2 !important;
    font-weight: normal !important;
    color: #454545 !important;
    content: '>';
    border-radius: 44% !important;
  }
  #toggle{
    display: none;
    visibility: hidden;
  }
  #cook_style{
    display: none;
    visibility: hidden;
  }
  .filterbrand label {
        display: block;
    padding: 0.2em;
    font-weight: 100 !important;
    color: #666666 !important;
    /* text-align: center; */
    cursor: pointer;
    /* border-bottom: 1px solid #CCC; */
    color: #666;
  }
  .filterbrand { margin-top: -15px !important; }
  .filtermarg{ margin-top: 5px; 
  margin-bottom: 10px; }
  .search-filter input{ padding: 0px !important;  }
  label:hover {
    color: #000;
  }
  .filterbrand .filt_1::before {
    content: "+";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, rgba(204, 204, 204, 0) 88%, rgba(0, 0, 0, 0) 50%);
    float: right;
  }
  .expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    color: black;
  }
  #toggle:checked ~ .expand {
    height: 114px;
  }
  #toggle:checked ~ label::before {
    content: "-";
  }
  #weight_filter:checked ~ .expand {
    height: 0px;
    overflow: inherit;
  }
  #weight_filter:checked ~ label::before {
    content: "-";
  }
  #cook_style:checked ~ .expand {
    height: 134px;
  }
  #cook_style:checked ~ label::before {
    content: "-";
  }
  .ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid #ffa500;
    background: #ffa500;
    font-weight: normal;
    color: #454545;
  }
  .ui-state-focus, .ui-widget-content, .ui-state-focus{
    border: 1px solid #ca1d1d;
    background: #c50e0e;
    font-weight: normal;
    color: #2b2b2b;
  }
  .ui-widget-header{ background: black !important; }
  .ui-slider-range, .ui-corner-all, .ui-widget-header{
    background: black;
  }
  .colwhit{
    color: white !important;
  }
  @media screen and (max-width: 610px) {
    #clientsDashboard{
      display: none;
    }
  }
  @media screen and (max-width: 610px) {
    #panelcont {
    display: none;
}


    /* slideup code here*/
    #search-filter{
      display: none;
    }
    #clientsDropDown {
      position:fixed;
      bottom:0;
      width: 100%;
      padding-bottom:2%;
      z-index: 100;
      display: block !important;
    }
    #clientsOpen {
      background: url("images/open.png") no-repeat scroll 68px 10px #d8930a;
      color: #ececec;
      cursor: pointer;
      float: left;
      font-size: 26px;
      margin: 0px 0 0 0%;
      padding: 0 15px 2px;
      text-decoration: none;
      width: 50px;
     /* display: none;*/
    }
    #clientsCTA {
      background:#414142;
      width:100%;
      color: #CCCCCC;
      text-align:center;
      font-size: 46px;
      margin: 0;
      padding: 30px 0;
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;
    }
    #clientsCTA h4{
      color: white;
    }
    #clientsDropDown .clientsClose {
      background-image: url(images/close.png);
    }
    #clientsDropDown #clientsDashboard {
      display: none;
    }
    #clientsDashboard{
      display: block;
      background: #ffffff;
      color: white;
      border: 1px solid white;
      width: 100%;
      margin-left: 0%;
      z-index: 9999;
      margin-right: auto;
      padding: 10px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: 2px 3px 1px 5px #efefef;
      height: 94vh;
      overflow: scroll;
      padding-left: 4px;
    }
    #slider-weight-range, #slider-range{
      width: 30%;
    }
  }
  #x {
    width: 30PX !important;
  }
</style>
<style type="text/css">
  .filtercolumn{
    border: 2px solid #d4d3d1;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 23% ;
    font-size: 13px;
  }
  #panelhead{
    /*text-align: center;*/
         /* text-align: center; */
    padding-top: 6px;
    background: #f9f9f9;
    color: #585656;
    height: 37px;
    font-weight: 500;
    border-radius: 0px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 15.5px;

  }

  .filterbrand span{
    font-weight: 400;
  }
  .filterbrand { margin-top: -20px ;  }
  #slider-container {
    width:350px;
    margin-left:30px;
  }
  .filtercontent{
    padding-left: 10px;
    padding-right: 10px;
  }
  .sort_filter{
    margin-left: 15px;
    background: #d2d2d2;
    height: 30px;
    border: 1px solid white;
    color: white;
    margin-top: 10px !important;
    width: 100%;
    background: white;
    border: 1px solid #cfcfcf;
  }
  .filt{
    /*background: #e8e8e8;*/
  }
  #clientsDropDown{
    display: none;
  }
  #myOverlay{
    position:absolute;
    height:100%;
    width:100%;
  }
  #myOverlay{
    background:black;
    opacity:.7;
    z-index:2;
    display:none;
  }
  #outofstock1{
    z-index: 1 !important;
  }
  #pageheader {
    z-index: 1 !important ;
  }
</style>
<style>
  /*body {font-family: "Lato", sans-serif;}*/
  ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 40%;
    overflow: hidden;
    border: 1px solid #d8930a;
    background-color: #d8930a;
    margin-top: 25%;
    height: 88%;
  }
  /* Float the list items side by side */
  ul.tab li {
    float: left;
    width: 100%;
    background: #d8930a;
  }
  /* Style the links inside the list items */
  .mobtab{
    width: 100% !important;
    /*background: black !important ;
    color: white !important ;*/
  }
  ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
  }
  /* Change background color of links on hover */
  ul.tab li a:hover {
    background-color: #f1f0f0 !important;
    text-decoration: none !important;
  }
  /* Create an active/current tablink class */
  ul.tab li a:focus, .active {
    background-color: #ffffff;
    text-decoration: none !important;
    /* color: #d8930a !important;
    width: 121%;*/
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #d8930a;*/
    border-top: none;
    width: 60%;
    margin-top: 12%;
    float: right;
    color: black;
    height: 88%;
    /* border-top: 1px solid #d8930a;*/
    border-left: #ffffff;
    background: rgb(241, 240, 240);
    border: 1px solid #d4d2cf;
  }
  .topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
  }
  .topright:hover {
    color: red;
  }
  .range{
    width: 50%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  #search-filter {
    display: block;
    
}




/*
