<style>
.paleftspace{
    padding-left: 18px;
}
    .full-width-image
    {
        /*height: 400px;*/
    }
    .viewarticleblog{
            text-align: center;
    margin-top: 6%;
    }
    .cnt{ text-align: center; }
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {   
    background-color: #fefefe;
    margin: auto;
    padding-top: 40px;
    border: 1px solid #888;
    width: 26%;
    height: 15%;
    margin-top: 8%;
    padding-left: 74px;
    border-radius: 8px;
    padding-right: 0px;
}

/* The Close Button */
.close {
        margin-bottom: 21%;
    margin-top: -42px;
    margin-right: 2px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.somemarginless{
    margin-left: 36.5% !important;
}
@media only screen and (max-width: 768px){
.cartmobicon {
    display: block !important;
    background: black;
    color: white;
    position: relative;
    padding-top: 2px;
    padding-bottom: 3px;
    width: 20%;
    float: right;
    margin-right: -1% !important;
    margin-top: 3% !important;

}
.out-of-stock{
    margin-left: 54% !important;
}
}
.emailwhenavailbtncss {
    background: black !important;
    /* border-color: #839683 !important; */
    letter-spacing: 0.9px;
    font-size: 12px !important;
    margin-left: 0px !important;
    margin-bottom: -72% !important;
    height: 31px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    width: 88% !important;
}
.paddingbot{
    padding-bottom: 13px !important;
}
.out-of-stock{
    margin-left: 48% !important;
}
.marginleftchangeindex{
    margin-left: 36.5% !important;
}
@media only screen and (width: 412px){
    .cartmobicon{
        margin-top: 11% !important;
    }
    .out-of-stock{
    font-size: 10px !important;
    width: 48% !important;
}
}
@media only screen and (width: 375px){
    .cartmobicon{
        margin-top: 6% !important;
    }
    .out-of-stock{
    font-size: 10px !important;
    width: 48% !important;
}
}
@media only screen and (width: 414px){
    .cartmobicon{
        margin-top: 12% !important;
    }
    .out-of-stock{
    font-size: 10px !important;
    width: 48% !important;
}
}
.soldout{
    font-size: 10px !important;
}
.out-of-stock{
    font-size: 10px !important;
}
.emailwhenavailbtncss{
    margin-bottom: -41%!important;
    width: 88% !important;
}
@media only screen and ( width: 360px){
    .out-of-stock{
    margin-left: 5%;
}
}
.emailwhenavailbtncss {
    margin-bottom: -41%!important;
    width: 81% !important;
}
</style>