
  .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family:verdana;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .row input[type='email']{
    text-align: center;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 15px;
    letter-spacing: 1px;
    border-radius: 0px;
  }
  .row input[type='password']{
    text-align: center;
    width: 362px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 15px;
    letter-spacing: 1px;
    border-radius: 0px;
  }
  .row button{
    background: #464e54 ;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .row h2 {
    margin-top: 30px;
  }
  .row button{
    width: 34%;
  }
  @media only screen  and ( max-width: 420px){
   
.row
  {
width: 100%;
  }
  .row input[type='email'] {
    text-align: center;
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 15px;
    letter-spacing: 1px;
    border-radius: 0px;
}
.row input[type='password']
{
  width: 292px;
}
}
@media only screen  and ( max-width: 340px){
  .row
  {
width: 100%;
  }
  .row input[type='email'] {
    text-align: center;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 15px;
    letter-spacing: 1px;
    border-radius: 0px;
}
.row input[type='password']
{
  width: 235px;
}
