<!-- for modal email popu btn avaialbale -->

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
        background-color: #fefefe;
    margin: auto;
    padding-top: 40px;
    border: 1px solid #888;
    width: 26%;
    height: 15%;
    margin-top: 8%;
    padding-left: 74px;
    border-radius: 8px;
    padding-right: 0px;
    z-index: 9999;
}
      /*  #modalemail{ margin-left: -37px;  }
*/

/* The Close Button */
.close {
            margin-bottom: 21%;
    margin-top: -42px;
    margin-right: 2px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
<!-- modal popup ends here -->
        <!-- this is for rating -->

        <style type="text/css">
        .ui-autocomplete
        {
            
                width: 34%;
    top: 47.2063px;
    max-height: 250px;
    overflow: scroll;
    left: 44.7969px;
    z-index: 2147483647;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
        }
        @media only screen and ( max-width: 700px){
            .ui-autocomplete
        { width: 70%}
        .calmob{
            display: block !important;
                text-align: center;
    background: black;
    color: white;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 2px
        }
        }
        .calmob{
                display: none;
        }
        .call{ color: white !important; }
